<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ms.merchant.mapper.MerchantPayAddressMapper">

    <select id="selectMerchantPayAddressList" resultType="com.ms.merchant.domain.MerchantPayAddress">
        select * from merchant_pay_address
        where  merchant_id = #{merchantPayAddress.merchantId}

        <if test="merchantPayAddress.haveUsdt != null"> and have_usdt = #{merchantPayAddress.haveUsdt}</if>
        <if test="merchantPayAddress.privateKey != null"> and message != "SUCCESS" </if>
        <if test="merchantPayAddress.message != null"> and message = "SUCCESS" </if>
            <if test="merchantPayAddress.address != null  and merchantPayAddress.address != ''"> and address like concat("%", #{merchantPayAddress.address},"%")</if>


          <if test="merchantPayAddress.startDate != null">
            and create_time between #{merchantPayAddress.startDate} and #{merchantPayAddress.endDate}
        </if>
        <if test="merchantPayAddress.status != null"> and status = #{merchantPayAddress.status}</if>

        <if test="merchantPayAddress.merchantId != null  and merchantPayAddress.merchantId != ''"> </if>
            <if test="merchantPayAddress.returnAddress != null  and merchantPayAddress.returnAddress != ''"> and return_address like  concat("%",  #{merchantPayAddress.returnAddress} ,"%")</if>
            <if test="merchantPayAddress.merchantOrderNo != null  and merchantPayAddress.merchantOrderNo != ''"> and merchant_order_no like  concat("%",  #{merchantPayAddress.merchantOrderNo} ,"%")</if>
        ORDER BY create_time DESC
    </select>
    <select id="selectMerchantPayAddressExport" resultType="com.ms.merchant.domain.MerchantPayAddress">
        select * from merchant_pay_address
        where  merchant_id = #{merchantPayAddress.merchantId}
        <if test="merchantPayAddress.address != null  and merchantPayAddress.address != ''"> and address = #{merchantPayAddress.address}</if>
        <if test="merchantPayAddress.merchantId != null  and merchantPayAddress.merchantId != ''"> </if>
        <if test="merchantPayAddress.returnAddress != null  and merchantPayAddress.returnAddress != ''"> and return_address = #{merchantPayAddress.returnAddress}</if>
        <if test="merchantPayAddress.merchantOrderNo != null  and merchantPayAddress.merchantOrderNo != ''"> and merchant_order_no = #{merchantPayAddress.merchantOrderNo}</if>
        ORDER BY create_time DESC

    </select>
</mapper>
